body{
    background-color: antiquewhite;
    color:  rgb(173, 9, 72);
    width: 70vw;
    margin: 0 auto;
}
h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

body img{
    height: auto;
    width: 10%;
}
ul, ol, p{
    color: black;
}
a{
    background-color: rgb(173, 9, 72);
    color: azure;
    border: 2px solid azure;
    text-decoration: none;
    padding: 5px;
}